.contactBox{

display:grid;

grid-template-columns:
1fr 1fr;

gap:60px;

align-items:center;

background:
rgba(255,255,255,.04);

padding:70px;

border-radius:40px;

}

.contactLeft h2{

font-size:70px;

line-height:1.1;

}

.contactLeft p{

margin-top:30px;

color:#94a3b8;

}

.contactRight{

display:flex;

flex-direction:column;

gap:20px;

}

.contactRight input,
.contactRight textarea{

padding:22px;

background:#111827;

border:none;

color:white;

border-radius:20px;

}

.contactRight button{

padding:22px;

background:
linear-gradient(
90deg,
#2563eb,
#9333ea
);

color:white;

border-radius:20px;

}

@media(max-width:900px){

.contactBox{

grid-template-columns:1fr;

}

.contactLeft h2{

font-size:45px;

}

}