.footer {
  position: relative;
  padding: 100px 8% 30px;
  margin-top: 120px;
  border-top: 1px solid rgba(255,255,255,0.08);
  background: transparent;
}

/* glow effect */
.footer::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: #8b5cf6;
  filter: blur(180px);
  opacity: 0.15;
  right: 0;
  bottom: 0;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  position: relative;
  z-index: 2;
}

/* TOP SECTION */
.footer-top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 60px;
}

/* BRAND */
.footer-brand h2 {
  color: #60a5fa;
  font-size: 2rem;
  margin-bottom: 20px;
}

.footer-brand p {
  color: #a1a1aa;
  line-height: 1.8;
  max-width: 450px;
}

/* QUICK LINKS */
.footer-links h3,
.footer-social h3 {
  color: white;
  margin-bottom: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: #a1a1aa;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}

.footer-links a:hover {
  color: #8b5cf6;
  transform: translateX(5px);
}

/* SOCIAL */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  width: 50px;
  height: 50px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);

  color: white;
  font-size: 20px;

  transition: 0.3s;
}

.social-icons a:hover {
  background: linear-gradient(135deg, #6d5dfc, #8b5cf6);
  transform: translateY(-5px);
}

/* BOTTOM */
.footer-bottom {
  margin-top: 60px;
  padding-top: 30px;

  border-top: 1px solid rgba(255,255,255,0.08);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  color: #888;
}

/* back to top */
.back-top {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #6d5dfc, #8b5cf6);

  color: white;
  font-size: 18px;

  transition: 0.3s;
}

.back-top:hover {
  transform: translateY(-5px);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-top {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
  }
} 