@import url(
"https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
);

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:
"Poppins",
sans-serif;

}

html{

scroll-behavior:smooth;

scroll-padding-top:120px;

}

body{
transition:.5s;
background:
linear-gradient(
120deg,
#112752,
#020617,
#1f1147
);

color:white;

overflow-x:hidden;

min-height:100vh;

}

body.tokyo{

background:

linear-gradient(
135deg,
#00150a,
#032313,
#00ff88
);

color:#e7fff2;

}

body.tokyo .navbar{

background:
rgba(
0,
255,
136,
0.08
);

}
body.tokyo button{

background:

linear-gradient(
135deg,
#00ff88,
#00cc66
);

}

body.tokyo .project,
body.tokyo .card,
body.tokyo .profileCard{

border:

1px solid
rgba(
0,
255,
136,
0.15
);

}
/* PREMIUM GLOW */

body::before{

content:"";

position:fixed;

top:-250px;

left:-250px;

width:600px;

height:600px;

background:

radial-gradient(
circle,
rgba(59,130,246,.25),
transparent
);

filter:

blur(120px);

z-index:-1;

}

body::after{

content:"";

position:fixed;

bottom:-250px;

right:-250px;

width:600px;

height:600px;

background:

radial-gradient(
circle,
rgba(147,51,234,.25),
transparent
);

filter:

blur(120px);

z-index:-1;

}

/* SECTION */

section{

width:100%;

padding:
90px 8%;

}

/* IMAGE */

img{

display:block;

max-width:100%;

}

/* BUTTON */

button{

cursor:pointer;

transition:.3s;

}

button:hover{

transform:

translateY(-4px);

}

/* LINK */

a{

text-decoration:none;

color:inherit;

}

/* LIST */

ul{

list-style:none;

}

/* TEXT */

h1{

font-weight:800;

}

h2{

font-weight:700;

}

p{

line-height:1.8;

}

/* SCROLLBAR */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#020617;

}

::-webkit-scrollbar-thumb{

background:

linear-gradient(
#2563eb,
#7c3aed
);

border-radius:50px;

}

/* MOBILE */

@media(max-width:768px){

section{

padding:
80px 6%;

}

}