@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

html{
scroll-behavior:smooth;
}

body{

background:
#080B16;

color:white;

overflow-x:hidden;

}

body::before{

content:"";

position:fixed;

width:700px;
height:700px;

background:
radial-gradient(
#3b82f660,
transparent
);

left:-300px;
top:-300px;

filter:blur(120px);

z-index:-1;

}

body::after{

content:"";

position:fixed;

width:700px;
height:700px;

background:
radial-gradient(
#9333ea55,
transparent
);

right:-300px;
bottom:-300px;

filter:blur(120px);

z-index:-1;

}

section{
padding:80px 8%;
}