.hero{

min-height:100vh;

display:grid;

grid-template-columns:1fr 1fr;

align-items:center;

padding:140px 8% 80px;

gap:70px;

}

/* LEFT */

.heroLeft{

max-width:650px;

}

.topText{

color:#60a5fa;

font-size:15px;

letter-spacing:4px;

margin-bottom:25px;

}

.hero h1{

font-size:78px;

line-height:1;

font-weight:800;

margin-bottom:30px;

color:white;

}

.heroDesc{

font-size:20px;

line-height:2;

color:#94a3b8;

max-width:600px;

margin-bottom:50px;

}

/* BUTTON */

.buttons{

display:flex;

gap:20px;

}

.primary{

padding:18px 40px;

border:none;

border-radius:18px;

background:
linear-gradient(
135deg,
#2563eb,
#7c3aed
);

color:white;

}

.secondary{

padding:18px 40px;

background:transparent;

border:1px solid rgba(255,255,255,.15);

color:white;

border-radius:18px;

}

/* STATS */

.heroInfo{

display:flex;

gap:50px;

margin-top:60px;

}

.heroInfo h2{

font-size:36px;

color:#60a5fa;

}

.heroInfo p{

color:#94a3b8;

}

/* IMAGE */

.heroRight{

display:flex;

justify-content:flex-end;

}

.heroRight img{

width:100%;

max-width:560px;

height:620px;

object-fit:cover;

border-radius:36px;

/* same premium glow */

box-shadow:
0 50px 140px
rgba(59,130,246,.20);

}

/* MOBILE */

@media(max-width:768px){

.hero{

display:flex;

flex-direction:column;

padding:

140px
8%
60px;

gap:50px;

}

.heroLeft{

width:100%;

}

.heroRight{

width:100%;

}

.hero h1{

font-size:58px;

line-height:1.1;

}

.heroDesc{

font-size:18px;

}

.buttons{

display:flex;

flex-direction:column;

gap:15px;

}

.buttons button{

width:100%;

}

.heroInfo{

display:grid;

grid-template-columns:

1fr
1fr;

gap:15px;

}

.heroInfo div{

padding:20px;

}

.heroRight img{

height:350px;

object-fit:cover;

border-radius:25px;

}

}