.navbar{

position:fixed;

top:20px;

left:50%;

transform:translateX(-50%);

width:90%;

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

background:
rgba(15,23,42,.65);

backdrop-filter:
blur(20px);

border:
1px solid
rgba(255,255,255,.08);

border-radius:24px;

z-index:1000;

}

.logo{

font-size:40px;

font-weight:800;

color:#60a5fa;

}

.navbar ul{

display:flex;

gap:50px;

list-style:none;

}

.navbar a{

text-decoration:none;

color:white;

font-size:18px;

font-weight:500;

position:relative;

transition:.3s;

}

/* Hover Line */

.navbar a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

width:0;

height:2px;

background:
linear-gradient(
90deg,
#3b82f6,
#9333ea
);

transition:.4s;

}

.navbar a:hover{

color:#60a5fa;

}

.navbar a:hover::after{

width:100%;

}

.navbar button{

padding:16px 34px;

border:none;

border-radius:16px;

font-size:16px;

font-weight:600;

color:white;

cursor:pointer;

background:
linear-gradient(
135deg,
#2563eb,
#9333ea
);

box-shadow:
0 15px 40px
rgba(59,130,246,.35);

transition:.4s;

}

.navbar button:hover{

transform:
translateY(-4px);

}
.navRight{

display:flex;

align-items:center;

gap:18px;

}

.themeBtn{

width:54px;

height:54px;

display:flex;

align-items:center;

justify-content:center;

border-radius:50%;

cursor:pointer;

background:
rgba(255,255,255,.08);

border:
1px solid
rgba(255,255,255,.08);

color:white;

font-size:20px;

transition:.4s;

}

.themeBtn:hover{

transform:
rotate(180deg);

}

/* active link */

.navbar .active{

color:#60a5fa;

}
.menuBtn{

display:none;

width:54px;

height:54px;

border-radius:50%;

background:
rgba(255,255,255,.08);

border:
1px solid
rgba(255,255,255,.08);

color:white;

font-size:20px;

align-items:center;

justify-content:center;

cursor:pointer;

}


@media(max-width:768px){

.navbar{

width:95%;

padding:0 18px;

height:74px;

}

.logo{

font-size:28px;

}

.contactBtn{

display:none;

}

.menuBtn{

display:flex;

}

.navbar ul{

position:absolute;

top:95px;

left:0;

width:100%;

padding:30px;

display:none;

flex-direction:column;

align-items:center;

gap:28px;

background:

rgba(10,15,35,.95);

backdrop-filter:

blur(20px);

border-radius:20px;

}

.navbar ul.showMenu{

display:flex;

}

.navbar a{

font-size:18px;

}

.themeBtn{

width:48px;

height:48px;

}

}
