.projects{

text-align:center;

}

.projects h2{

font-size:60px;

margin-bottom:60px;

}

.projectGrid{

display:grid;

grid-template-columns:
repeat(
3,
1fr
);

gap:30px;

}

.project{

padding:50px;

background:
rgba(255,255,255,.04);

backdrop-filter:
blur(30px);

border:
1px solid
rgba(255,255,255,.08);

border-radius:30px;

transition:.5s;

}

.project:hover{

transform:
translateY(-15px);

box-shadow:
0 30px 90px
#3b82f655;

}

.project h3{

font-size:34px;

margin:25px 0;

}

.project p{

color:#94a3b8;

}

@media(max-width:900px){

.projectGrid{

grid-template-columns:1fr;

}

}