.skills{

padding:130px 8%;

}

.top{

color:#60a5fa;

letter-spacing:4px;

font-size:14px;

margin-bottom:20px;

}

.skills h1{

font-size:78px;

margin-bottom:80px;

line-height:1.1;

}

/* CLEAN GRID */

.skillWrap{

display:grid;

grid-template-columns:
repeat(
2,
1fr
);

gap:30px;

}

/* CARD */

.skillCard{

position:relative;

overflow:hidden;

padding:45px;

height:420px;

border-radius:32px;

background:

linear-gradient(
145deg,
rgba(255,255,255,.05),
rgba(255,255,255,.02)
);

backdrop-filter:

blur(25px);

border:

1px solid
rgba(255,255,255,.08);

transition:.4s;

display:flex;

flex-direction:column;

justify-content:center;

}

/* PREMIUM GLOW */

.skillCard::before{

content:"";

position:absolute;

top:-60px;

right:-60px;

width:220px;

height:220px;

border-radius:50%;

background:

radial-gradient(
circle,
rgba(124,58,237,.8),
transparent
);

filter:blur(90px);

}

/* HOVER */

.skillCard:hover{

transform:

translateY(-8px);

box-shadow:

0 30px 100px
rgba(59,130,246,.18);

}

/* ICON */

.icon{

width:90px;

height:90px;

border-radius:26px;

display:flex;

align-items:center;

justify-content:center;

font-size:46px;

background:

rgba(255,255,255,.06);

margin-bottom:35px;

}

/* TITLE */

.skillCard h2{

font-size:44px;

margin-bottom:18px;

}

/* DESC */

.skillCard p{

color:#94a3b8;

font-size:18px;

line-height:1.8;

}

/* BADGES */

.badges{

display:flex;

gap:12px;

flex-wrap:wrap;

margin-top:35px;

}

.badges span{

padding:12px 18px;

border-radius:30px;

font-size:14px;

background:

rgba(255,255,255,.05);

border:

1px solid
rgba(255,255,255,.08);

transition:.3s;

}

.badges span:hover{

background:

linear-gradient(
135deg,
#2563eb,
#9333ea
);

}

/* MOBILE */

@media(max-width:768px){

.skillWrap{

grid-template-columns:1fr;

}

.skillCard{

height:auto;

padding:30px;

}

.skillCard h2{

font-size:34px;

}

}